# This is a sample environment variables file that gets loaded automatically via the Figaro gem in self-hosted situations
# If you are running this is a hosted environment (Heroku etc) then these will have to be set some other way.
#
# WARNING DO NOT COMMIT THIS FILE AFTER RENAMING IT.
#
##########################
# Steps for rails app setup
##########################
# 1. Copy this file into the same `/config` folder
# 2. Rename the file to `application.yml`
# 3. Run `$ rails secret` from the command line and put in the `SECRET_KEY_BASE` variable below]
SECRET_KEY_BASE: "XXXXX"
# 4. Follow the instructions for "Incoming Webook" at https://api.slack.com/apps
#	   and set `SLACK_ERROR_WEBHOOK_URL` below.
SLACK_ERROR_WEBHOOK_URL: "XXXXX"
# 5. If you're setting up an instance designed for testing or developing Zenodotus, set `ALLOW_CUSTOM_CALLBACK` to "true" (quotes included)
ALLOW_CUSTOM_CALLBACK: "true"
# 6. Add `ZENODOTUS_URL` to point to your Zenodotus instance for notifications when a scrape
ZENODOTUS_URL: "http://localhost:3000/"  # change as needed
#    is done if this is for production
# 7. For a local dev setup, set ALLOW_FORCE to "true" so Hypatia can process scrape requests without queueing them (required for tests)
ALLOW_FORCE: "true"
# 8. Set USE_S3_DEV_TEST to  "true" to enable the S3 file transfer flow. 
USE_S3_DEV_TEST: "true"
# 9. Set the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY varibles. Retrieve values from 1Password
AWS_ACCESS_KEY_ID: "XXXXX"
AWS_SECRET_ACCESS_KEY: "XXXXX"
# 10. Set AWS_S3_BUCKET_NAME to "zenodotus-testing"
AWS_S3_BUCKET_NAME: "zenodotus-testing"
# 11. Set AWS_REGION to "us-east-1"
AWS_REGION: "us-east-1"
# 12. AGAIN: DO NOT COMMIT THIS NEW FILE

##########################
# Steps for scraper gem setup
##########################
# Instagram setup:
# 1. Create an Instagram user/password and add them to the appropriate variables below
INSTAGRAM_USER_NAME: "XXXXX"
INSTAGRAM_PASSWORD: "XXXXX"
#
# Facebook setup:
# 1. Create an Facebook user/password and add them to the appropriate variables below 
FACEBOOK_EMAIL: "XXXXX"
FACEBOOK_PASSWORD: "XXXXX"
#
# YouTube setup:
# 1. Acquire a YouTube API Key (see https://github.com/TechAndCheck/YoutubeArchiver#acquiring-a-youtube-api-key)
# 2. Add the key to the variable below
YOUTUBE_API_KEY: "XXXXX"

# We default to requiring ZENODOTUS_URL as a callback unless we explicitly set it otherwise.
# Note: ZENODOTUS_URL can still be set, which will become the fallback if there's not a callback url passed in
ALLOW_CUSTOM_CALLBACK: false
